artefacts/
nspawn-not-working/
old/
owrx/
output/
work/
deploy/
apt-cacher-ng/
.git/objects/*
emu-data/
pi-emu-kernel.img
pi-emu-kernel-src/
.vscode/
pi-ci-fallback-kernel.img
*OpenWebRX*.zip
*OpenWebRX*.img

